*{
    box-sizing: border-box;
}

.container{
    width: 802px;
    margin: 0 auto;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.image{
    width: 800px;
    height: 100%;
    object-fit: cover;
    background-color: black;
    opacity: 1;
    animation-name: example;

}

.fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
 @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }  

.imgWrapper{
    position: relative;
    text-align: center;
    height: 100%;
    border: .5px solid black;
}

.counter{
    position: absolute;
    top:5px;
    left: 5px
}

.caption{
   position: relative;
   top: -30px;
}

.left-arrow{
    position: absolute;
    top:50%;
    left: 10px;
    cursor: pointer
}

.right-arrow{
    position: absolute;
    top:50%;
    right: 10px;
    cursor: pointer;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    color: rgb(143, 143, 143);
    font-size: small;

    
}

.buttons i{
    cursor: pointer;
}

.button--active{
    color: rgb(196, 196, 196);
}